:host {
  display: contents;
}

.request__wrap {
  // min-height: calc(100vh - 61px);
  // overflow-y: scroll;
  height: calc(100% - var(--nav-height) - var(--padding));
  // max-height: 100%;
  margin-bottom: auto;
}

label {
  padding: 10px;

  display: inline-block;

  user-select: none;
}
.requests__list {
  // transform: translateY(-1px);

  &-wrap {
    max-height: calc(100% - 43px - 44px - 5px);
    overflow-y: auto;
  }
}
.request__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request__btns {
  display: flex;
}
.request__update {
}
.request__asdriver {
  align-self: stretch;
  display: flex;
  align-items: center;

  padding: 10px;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  span {
    margin-right: 10px;
  }
}

.requests__validation {
  padding: 10px;
  display: inline-block;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);
}
