.request__wrap {
  min-height: calc(100vh - 61px);
}

label {
  padding: 10px;

  display: inline-block;

  user-select: none;
}
.requests__list {
  transform: translateY(-1px);
}
.request__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request__asdriver {
  align-self: stretch;
  display: flex;
  align-items: center;

  padding: 10px;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  span {
    margin-right: 10px;
  }
}

.requests__validation {
  padding: 10px;
  display: inline-block;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);
}
