<div class="request__wrap">
  <div class="request__nav">
    <div class="request__tab">
      <app-button
        [isActive]="currentTab === 'all'"
        (click)="changeTab('all')"
        text="All orders"
      ></app-button>
      <app-button
        [isActive]="currentTab === 'active'"
        (click)="changeTab('active')"
        text="Active orders"
      ></app-button>
    </div>
    <div class="request__asdriver" *ngIf="isDriver">
      <span>Watch as driver</span>
      <app-toggle
        [isActive]="showAsDriver"
        (changeHandler)="showForDriver()"
      ></app-toggle>
    </div>
  </div>

  <div *ngIf="currentTab === 'all'">
    <ul class="requests__list list" *ngIf="isAuthenticated">
      <app-request
        (takeOrder)="moveRequestToActiveTab($event)"
        *ngFor="let r of allRequests"
        [request]="r"
        [isDriver]="showAsDriver"
        [page]="currentTab"
        [countOfActiveRequests]="activeRequests.length"
      ></app-request>
      <li *ngIf="allRequests.length === 0 && !isDriver">
        <span class="requests__validation">You haven't finished orders</span>
      </li>
      <li *ngIf="allRequests.length === 0 && isDriver">
        <span class="requests__validation">No active requests yet</span>
      </li>
    </ul>

    <div *ngIf="!isAuthenticated">
      <span class="requests__validation"
        >You should authenticate to watch all orders.</span
      >
      <a routerLink="/user/login" class="link">Login</a>
    </div>
    <app-pagination
      *ngIf="countOfAllRequests > 1 && isAuthenticated"
      [count]="countOfAllRequests"
      [clickHandler]="changePage"
      [currentPage]="currentPage"
    ></app-pagination>
  </div>

  <div *ngIf="currentTab === 'active'">
    <ul class="list requests__list">
      <app-request
        (deleteOrder)="removeRequestFromActiveTab($event)"
        *ngFor="let r of activeRequests"
        [request]="r"
        [isDriver]="showAsDriver"
        [page]="currentTab"
      >
        <!-- <app-button (click)="cancelRequest()" text="Cancel order"></app-button> -->
      </app-request>
      <li *ngIf="activeRequests.length === 0">
        <span class="requests__validation">You haven't active orders</span>
        <a routerLink="" class="link">Make order</a>
      </li>
    </ul>
    <app-pagination
      *ngIf="countOfActiveRequests > 1"
      [count]="countOfActiveRequests"
      [clickHandler]="changePage"
      [currentPage]="currentPage"
    ></app-pagination>
  </div>
</div>
