:host {
  display: contents;
}

footer {
  flex: 0 0 auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.nav {
  &__link {
    text-decoration: none;

    &.active .nav__img {
      color: red;
    }
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;

  padding: 0;
}
