footer {
  flex: 0 0 auto;
}
.nav {
  &__link {
    text-decoration: none;

    &.active .nav__img {
      color: red;
    }
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;

  padding: 0;
}
