<footer>
  <nav class="nav">
    <ul class="nav__list list">
      <li class="nav__item">
        <a routerLink="/requests" class="nav__link" routerLinkActive="active">
          <app-icon className="nav__img" size="40px" name="list"></app-icon>
        </a>
      </li>
      <li class="nav__item">
        <a
          routerLink=""
          class="nav__link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <app-icon className="nav__img" size="40px" name="add"></app-icon>
        </a>
      </li>
      <li class="nav__item">
        <a
          [ngClass]="{
            active:
              infoActive.isActive ||
              registrationActive.isActive ||
              loginActive.isActive
          }"
          routerLink="/user/login"
          class="nav__link"
        >
          <app-icon className="nav__img" size="40px" name="user"></app-icon>
        </a>

        <a
          routerLink="/user/login"
          routerLinkActive
          #loginActive="routerLinkActive"
          style="display: none"
        ></a>
        <a
          routerLink="/user/info"
          routerLinkActive
          #infoActive="routerLinkActive"
          style="display: none"
        ></a>
        <a
          routerLink="/user/registration"
          routerLinkActive
          #registrationActive="routerLinkActive"
          style="display: none"
        ></a>
      </li>
    </ul>
  </nav>
</footer>
