<div class="theme dark">
  <div class="wrap">
    <!-- <ng-template ngSwitchCase="make-order">
      <app-order-form></app-order-form>
    </ng-template>
    <ng-template ngSwitchCase="order">
      <app-order request=""></app-order>
    </ng-template>
    <ng-template ngSwitchCase="order-list">
      <app-request-list></app-request-list>
    </ng-template>
    <ng-template ngSwitchCase="login">
      <app-login-form></app-login-form>
    </ng-template> -->
    <app-notification></app-notification>
    <router-outlet></router-outlet>

    <app-nav></app-nav>
  </div>
</div>
