.theme {
  min-height: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  max-width: 560px;

  margin: 0 auto;
  padding: 10px;

  background-color: var(--section-bg-color);
}
