<main class="user">
  <ul class="user__list list">
    <li>
      <label class="login__label" for=""
        >Name: <input [(ngModel)]="name" class="login__input input" type="text"
      /></label>
    </li>
    <li>
      <label class="login__label" for=""
        >Email:
        <input [(ngModel)]="email" class="login__input input" type="email"
      /></label>
    </li>
    <li>
      <label class="login__label" for=""
        >Phone:
        <input [(ngModel)]="phone" class="login__input input" type="text" />
      </label>
    </li>
    <!-- <li>
      <label class="login__label" for=""
        >Password:
        <input [(ngModel)]="password" class="login__input input" type="text" />
      </label>
    </li> -->

    <li *ngIf="isDriver">
      <label class="login__label" for=""
        >Car color:
        <input [(ngModel)]="carColor" class="login__input input" type="text" />
      </label>
    </li>
    <li *ngIf="isDriver">
      <label class="login__label" for=""
        >Car model:
        <input [(ngModel)]="carModel" class="login__input input" type="text" />
      </label>
    </li>
    <li *ngIf="isDriver">
      <label class="login__label" for=""
        >Car number:
        <input [(ngModel)]="carNumber" class="login__input input" type="text" />
      </label>
    </li>

    <li>
      <app-button
        (click)="updateUser()"
        class="login__btn"
        text="Save"
      ></app-button>

      <app-button
        (click)="logout()"
        class="login__btn"
        text="Logout"
      ></app-button>
    </li>
  </ul>
</main>
