<li class="request__item" [@order]>
  <div class="group request__up">
    <div class="request__adress">
      <div class="request__street">
        <span>From:</span> <span>{{ request.destinationLocation }}</span>
      </div>

      <div class="request__street">
        <span>To:</span> <span>{{ request.passangerLocation }}</span>
      </div>
    </div>

    <div class="request__data">
      <ul class="request__info list group">
        <li>
          <app-icon
            isActive="{{ true }}"
            [name]="request.carType"
            size="30px"
            className="request__car"
          ></app-icon>
          <span> {{ request.carType }} </span>
        </li>
        <!-- <li>
          <app-icon name="star" size="20px"></app-icon>
          <span *ngIf="info">{{ info.rating }}</span>
        </li> -->
        <li>
          <span>price: </span>
          <span>{{ request.price }}</span>
        </li>
        <!-- <li>
          <span>{{ request.id }}</span>
        </li> -->
      </ul>
      <div class="group">
        <!-- <ng-content></ng-content> -->
        <app-button
          *ngIf="page === 'active'"
          (click)="cancelRequest(request.id)"
          text="Cancel order"
          className="request__btn cancel"
        ></app-button>
        <app-button
          *ngIf="isDriver && page === 'active'"
          (click)="finishRequest(request.id)"
          text="Finish order"
          className="request__btn finish"
        ></app-button>
        <app-button
          *ngIf="isDriver && page === 'all'"
          (click)="takeRequest(request.id)"
          text="Take order"
          className="request__btn take"
        ></app-button>
      </div>
    </div>
  </div>
  <div class="request__status">
    <div class="info">
      <p class="info__label">Status:</p>
      <p class="info__value">{{ request.status }}</p>
    </div>
    <!-- *ngIf="!isDriver && request.status === 'canceled'"" -->
    <div class="info">
      <p class="info__label">Date:</p>
      <p class="info__value">
        {{ request.lastUpdate | date: "MMM d, 'at' HH:mm" }}
      </p>
    </div>
    <div class="info" *ngIf="isDriver && info">
      <p class="info__label">Phone</p>
      <p class="info__value">{{ info.phone_number }}</p>
    </div>
    <div class="info" *ngIf="!isDriver && info">
      <p class="info__label">Car model:</p>
      <p class="info__value">{{ info.car_model }}</p>
    </div>
    <div class="info" *ngIf="!isDriver && info">
      <p class="info__label">Car color:</p>
      <p class="info__value">{{ info.car_color }}</p>
    </div>
    <div class="info" *ngIf="!isDriver && info">
      <p class="info__label">Car number:</p>
      <p class="info__value">{{ info.car_number }}</p>
    </div>
  </div>
</li>
