.notification {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 10px;

    border: 1px solid var(--accent-color);

    background-color: var(--navbar-bg-color);

    div {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    padding-right: 10px;
    margin: 0;
  }

  &__message {
    margin: 0;

    text-transform: uppercase;

    font-weight: bold;
    font-size: 1.2em;
    color: var(--accent-color);
  }

  &__btn {
    padding: 0;

    border: none;

    background-color: transparent;

    color: var(--text-color);
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      color: var(--svg-color);
    }
  }

  &__rotate {
    transform: rotate(45deg);
  }
}
