<main class="login">
  <form action="" (ngSubmit)="register()" [formGroup]="registrationForm">
    <ul class="login__list list">
      <li>
        <label class="login__label" for=""
          >Phone:
          <input
            class="login__input input"
            type="text"
            formControlName="phone"
            name="phone"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('phone').invalid &&
            registrationForm.get('phone').touched
          "
          class="form__validation"
        >
          <small>Phone number is required.</small>
        </div>
      </li>
      <li>
        <label class="login__label" for=""
          >Password:
          <input
            class="login__input input"
            type="text"
            formControlName="password"
            name="password"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('password').invalid &&
            registrationForm.get('password').touched
          "
          class="form__validation"
        >
          <small>Password is required.</small>
        </div>
      </li>
      <li>
        <label class="login__label" for=""
          >Repeat password:
          <input
            class="login__input input"
            type="text"
            formControlName="password2"
            name="password2"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('password2').invalid &&
            registrationForm.get('password2').touched
          "
          class="form__validation"
        >
          <small>Password is required.</small>
        </div>
      </li>

      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label" for=""
          >Car color:
          <input
            formControlName="carColor"
            class="login__input input"
            type="text"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carColor').invalid &&
            registrationForm.get('carColor').touched
          "
          class="form__validation"
        >
          <small>Car color is required.</small>
        </div>
      </li>
      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label" for=""
          >Car model:
          <input
            formControlName="carModel"
            class="login__input input"
            type="text"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carModel').invalid &&
            registrationForm.get('carModel').touched
          "
          class="form__validation"
        >
          <small>Car model is required.</small>
        </div>
      </li>
      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label" for=""
          >Car number:
          <input
            formControlName="carNumber"
            class="login__input input"
            type="text"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carNumber').invalid &&
            registrationForm.get('carNumber').touched
          "
          class="form__validation"
        >
          <small>Car number is required.</small>
        </div>
      </li>

      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label" for=""
          >Car type:
          <!-- <input [(ngModel)]="carType" class="login__input input" type="text" /> -->
          <select
            name="carType"
            class="data__input input"
            formControlName="carType"
          >
            <option value="basic">Basic</option>
            <option value="comfort">Comfort</option>
            <option value="eco">Eco</option>
            <option value="xl">Xl</option>
          </select>
        </label>
      </li>

      <li>
        <label for="">Register as driver</label
        ><input type="checkbox" name="isDriver" formControlName="isDriver" />
      </li>

      <li>
        <app-button
          class="login__btn"
          text="Register"
          type="submit"
          [disabled]="registrationForm.invalid"
        ></app-button>
        <a class="link" [routerLink]="['/user/login']">back to Login</a>
      </li>
    </ul>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</main>
