<main class="login">
  <form action="" (ngSubmit)="register()" [formGroup]="registrationForm">
    <ul class="login__list list">
      <li>
        <label class="login__label"
          >Name:
          <input
            type="text"
            class="login__input input"
            formControlName="name"
            name="name"
            placeholder="John Doe"
          />
        </label>
      </li>
      <li>
        <label class="login__label"
          >Email:
          <input
            type="email"
            class="login__input input"
            formControlName="email"
            name="email"
            placeholder="john.doe@gmail.com"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('email').invalid &&
            registrationForm.get('email').touched &&
            registrationForm.get('email').errors.email
          "
          class="form__validation"
        >
          <small>Email not required but incorrect.</small>
        </div>
      </li>
      <li>
        <label class="login__label"
          >Phone:
          <input
            class="login__input input"
            type="text"
            formControlName="phone"
            name="phone"
            autocomplete="off"
            placeholder="380123456789"
            maxlength="12"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('phone').invalid &&
            registrationForm.get('phone').touched &&
            registrationForm.get('phone').errors.required
          "
          class="form__validation"
        >
          <small>Phone number is required.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('phone').invalid &&
            registrationForm.get('phone').touched &&
            registrationForm.get('phone').errors.pattern
          "
          class="form__validation"
        >
          <small
            >Phone number must start with 380 and have 9 digits after.</small
          >
        </div>
      </li>
      <li>
        <label class="login__label"
          >Password:
          <input
            type="text"
            class="login__input input"
            formControlName="password"
            name="password"
            autocomplete="new-password"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('password').invalid &&
            registrationForm.get('password').touched &&
            registrationForm.get('password').errors.required
          "
          class="form__validation"
        >
          <small>Password is required.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('password').invalid &&
            registrationForm.get('password').touched &&
            registrationForm.get('password').errors.minLength
          "
          class="form__validation"
        >
          <small>Password should have 14 characters.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('password').invalid &&
            registrationForm.get('password').touched &&
            registrationForm.get('password').errors.pattern
          "
          class="form__validation"
        >
          <small
            >Password should include number, special symbol, capital and small
            letters.</small
          >
        </div>
      </li>
      <li>
        <label class="login__label"
          >Repeat password:
          <input
            type="text"
            class="login__input input"
            formControlName="password2"
            name="password2"
            autocomplete="new-password"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('password2').invalid &&
            registrationForm.get('password2').touched &&
            registrationForm.get('password2').errors.required
          "
          class="form__validation"
        >
          <small>Password is required.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('password2').invalid &&
            registrationForm.get('password2').touched &&
            registrationForm.get('password2').errors.minLength
          "
          class="form__validation"
        >
          <small>Password should have 14 characters.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('password2').invalid &&
            registrationForm.get('password2').touched &&
            registrationForm.get('password2').errors.isEquel
          "
          class="form__validation"
        >
          <small>Passwords should be same.</small>
        </div>
        <div
          *ngIf="
            registrationForm.get('password2').invalid &&
            registrationForm.get('password2').touched &&
            registrationForm.get('password2').errors.pattern
          "
          class="form__validation"
        >
          <small
            >Password should include number, special symbol, capital and small
            letters.</small
          >
        </div>
      </li>

      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label"
          >Car color:
          <input
            formControlName="carColor"
            class="login__input input"
            type="text"
            placeholder="white"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carColor').invalid &&
            registrationForm.get('carColor').touched
          "
          class="form__validation"
        >
          <small>Car color is required.</small>
        </div>
      </li>
      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label"
          >Car model:
          <input
            formControlName="carModel"
            class="login__input input"
            type="text"
            placeholder="bmw"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carModel').invalid &&
            registrationForm.get('carModel').touched
          "
          class="form__validation"
        >
          <small>Car model is required.</small>
        </div>
      </li>
      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label"
          >Car number:
          <input
            formControlName="carNumber"
            class="login__input input"
            type="text"
            placeholder="CE1111AA"
          />
        </label>
        <div
          *ngIf="
            registrationForm.get('carNumber').invalid &&
            registrationForm.get('carNumber').touched
          "
          class="form__validation"
        >
          <small>Car number is required.</small>
        </div>
      </li>

      <li *ngIf="registrationForm.get('isDriver').value">
        <label class="login__label"
          >Car type:
          <select
            name="carType"
            class="login__input input"
            formControlName="carType"
          >
            <option value="basic">Basic</option>
            <option value="comfort">Comfort</option>
            <option value="eco">Eco</option>
            <option value="xl">Xl</option>
          </select>
        </label>
      </li>

      <li *ngIf="showVerifyCodeInput">
        <label class="login__label" for="verifyCode"
          >Please enter your verify code:
          <input
            id="verifyCode"
            formControlName="verifyCode"
            class="login__input input"
            type="text"
          />
        </label>
      </li>

      <li>
        <label class="input login__as-driver">
          Register as driver
          <!-- <input
            type="checkbox"
            name="isDriver"
            formControlName="isDriver"
            class="login__isDriver"
          /> -->

          <app-toggle
            name="isDriver"
            [parentForm]="registrationForm"
            controlName="isDriver"
          ></app-toggle>
        </label>
      </li>

      <li>
        <app-button
          class="login__btn"
          text="Register"
          type="submit"
          [disabled]="registrationForm.invalid"
        ></app-button>
        <a class="link" [routerLink]="['/user/login']">back to Login</a>
      </li>
    </ul>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>

  <app-settings></app-settings>
</main>
