.cars__img,
.nav__img {
  transition: color 0.1s ease-in;
}

.cars__img:hover,
.nav__img:hover {
  color: var(--svg-color);
}
.cars__img.active,
.request__car.active {
  color: var(--accent-color);
}
.nav__img {
  color: var(--text-color);
}
