/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/vars.scss";
@import "./assets/styles/theme.scss";
@import "./assets/styles/icons.scss";
@import "./assets/styles/formValidation.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;

  background-color: var(--wrap-bg-color);
}
[hidden] {
  display: none;
}

main {
  min-height: calc(100vh - 42px - 20px);
  margin-block-end: auto;
}

.requests__list-wrap,
.request,
.user,
.login {
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background-color: var(--section-bg-color);
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    box-shadow: inset 0 0 3px var(--section-bg-color),
      1px 0 0px var(--section-bg-color), -1px 0 0px var(--section-bg-color);
    background-color: var(--hover-bg-color);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--overlay-bg-color);
    border-radius: 10px;
    background-color: var(--section-bg-color);
    border-radius: 10px;
  }
}

.request,
.user,
.login {
  margin-block-end: auto;

  max-height: calc(100% - var(--nav-height));

  overflow: auto;
}
.nav__link.active .nav__img {
  color: var(--accent-color) !important;
}

.list {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;

  border-radius: 5px;
}

.input {
  border: 1px solid var(--overlay-bg-color);

  background-color: transparent;
  color: var(--text-color);
  caret-color: var(--text-link-color);
  transition: border-color 0.2s, box-shadow 0.2s;

  &--bd-radius {
    border-radius: var(--input-border-radius);
    &--small {
      border-radius: var(--input-border-radius-small);
    }
  }

  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2em var(--hover-bg-color);
    border-color: var(--hover-bg-color);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 20px var(--section-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}
.link {
  padding: 10px;

  border: 1px solid var(--overlay-bg-color);
  border-radius: var(--input-border-radius, 3px);

  background-color: transparent;

  cursor: pointer;
  color: var(--text-color);
  line-height: 0;
  font-size: 1rem;

  transition: background 0.2s ease-out;

  &:hover {
    color: var(--accent-color);
  }
}
