<main class="request">
  <form action="" class="form" (ngSubmit)="makeOrder()" [formGroup]="form">
    <section class="cars">
      <ul class="cars__list list">
        <li class="cars__item">
          <label class="cars__label" (click)="onCarTypeChange('basic')">
            <app-icon
              className="cars__img"
              name="basic"
              size="60px"
              [isActive]="form.get('carType').value === 'basic'"
            ></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label (click)="onCarTypeChange('comfort')" class="cars__label">
            <app-icon
              className="cars__img"
              name="comfort"
              size="60px"
              [isActive]="form.get('carType').value === 'comfort'"
            ></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label class="cars__label" for="eco" (click)="onCarTypeChange('eco')">
            <app-icon
              className="cars__img"
              name="eco"
              size="60px"
              [isActive]="form.get('carType').value === 'eco'"
            ></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label class="cars__label" (click)="onCarTypeChange('xl')">
            <app-icon
              className="cars__img"
              name="xl"
              size="60px"
              [isActive]="form.get('carType').value === 'xl'"
            ></app-icon>
          </label>
        </li>
      </ul>
    </section>
    <section class="data">
      <ul class="form__list list">
        <li class="form__item">
          <label for="">Phone number</label
          ><input
            name="phoneNumber"
            class="data__input input"
            type="tel"
            inputmode="tel"
            required
            formControlName="phoneNumber"
          />
          <div
            *ngIf="
              form.get('phoneNumber').invalid && form.get('phoneNumber').touched
            "
            class="form__validation"
          >
            <small>Phone number is required.</small>
          </div>
        </li>
        <li class="form__item">
          <label for="">From</label>
          <input
            class="data__input input"
            type="text"
            name="from"
            formControlName="from"
            (input)="calculatePrice()"
          />
          <div
            *ngIf="form.get('from').invalid && form.get('from').touched"
            class="form__validation"
          >
            <small>Your location is required.</small>
          </div>
        </li>
        <li class="form__item">
          <label for="">To</label
          ><input
            class="data__input input"
            type="text"
            name="to"
            formControlName="to"
            (input)="calculatePrice()"
          />
          <div
            *ngIf="form.get('to').invalid && form.get('to').touched"
            class="form__validation"
          >
            <small>Destination address is required.</small>
          </div>
        </li>
        <li class="form__item">
          <label for="">Car type</label>
          <select
            class="data__input input"
            name="carType"
            id=""
            formControlName="carType"
            (change)="calculatePrice()"
          >
            <option value="basic">Basic</option>
            <option value="comfort">Comfort</option>
            <option value="eco">Eco</option>
            <option value="xl">Xl</option>
          </select>
        </li>
        <li class="form__item">
          <label for=""
            >Description
            <textarea
              class="data__input input"
              name="description"
              formControlName="description"
            ></textarea>
          </label>
        </li>
      </ul>
    </section>
    <section class="info">
      <span class="price">{{ price }}$</span>
      <app-button
        [disabled]="form.invalid"
        type="submit"
        text="Make order"
      ></app-button>
    </section>
  </form>
</main>
