<main class="request">
  <form action="" class="form">
    <section class="cars">
      <ul class="cars__list list">
        <li class="cars__item">
          <label class="cars__label" for="basic">
            <input
              class="cars__radio"
              type="radio"
              hidden="true"
              name="car_type"
              id="basic"
            />
            <app-icon className="cars__img" name="basic" size="60px"></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label class="cars__label" for="comfort">
            <input
              class="cars__radio"
              type="radio"
              hidden
              name="car_type"
              id="comfort"
            />
            <app-icon
              className="cars__img"
              name="comfort"
              size="60px"
            ></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label class="cars__label" for="eco">
            <input
              class="cars__radio"
              type="radio"
              hidden
              name="car_type"
              id="eco"
            />
            <app-icon className="cars__img" name="eco" size="60px"></app-icon>
          </label>
        </li>
        <li class="cars__item">
          <label class="cars__label" for="xl">
            <input
              class="cars__radio"
              type="radio"
              hidden
              name="car_type"
              id="xl"
            />
            <app-icon className="cars__img" name="xl" size="60px"></app-icon>
          </label>
        </li>
      </ul>
    </section>
    <section class="data">
      <ul class="form__list list">
        <li class="form__item">
          <label for="">Phone number</label
          ><input
            name="phoneNumber"
            class="data__input input"
            type="tel"
            inputmode="tel"
            [(ngModel)]="phoneNumber"
          />
          <!-- <p>{{ phoneNumber }}</p> -->
        </li>
        <li class="form__item">
          <label for="">From</label>
          <input
            class="data__input input"
            type="text"
            name="from"
            [(ngModel)]="from"
          />
        </li>
        <li class="form__item">
          <label for="">To</label
          ><input
            class="data__input input"
            type="text"
            name="to"
            [(ngModel)]="to"
          />
        </li>
        <li class="form__item">
          <label for="">Car type</label>
          <select
            class="data__input input"
            name="carType"
            id=""
            [(ngModel)]="carType"
          >
            <option value="Basic">Basic</option>
            <option value="Comfort">Comfort</option>
            <option value="Eco">Eco</option>
            <option value="Xl">Xl</option>
          </select>
          <!-- <p>{{ carType }}</p> -->
        </li>
        <li class="form__item">
          <label for=""
            >Description
            <textarea
              class="data__input input"
              name="description"
              [(ngModel)]="description"
            ></textarea>
          </label>
        </li>
      </ul>
    </section>
    <section class="info">
      <span class="price">0$</span>
      <app-button text="Make order" (click)="makeOrder()"></app-button>
    </section>
  </form>
</main>
