<main class="login">
  <ul class="login__list list">
    <li>
      <label class="login__label" for=""
        >Phone:
        <input [(ngModel)]="phone" class="login__input input" type="text" />
      </label>
    </li>
    <li>
      <label class="login__label" for=""
        >Password:
        <input [(ngModel)]="password" class="login__input input" type="text" />
      </label>
    </li>

    <li>
      <app-button (click)="login()" text="Login"></app-button>
      <a class="link" [routerLink]="['/user/registration']"
        >or you can Register</a
      >
    </li>
  </ul>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</main>
