<main class="login">
  <ul class="login__list list">
    <li>
      <label class="login__label" for=""
        >Name: <input class="login__input input" type="text"
      /></label>
    </li>
    <li>
      <label class="login__label" for=""
        >Email: <input class="login__input input" type="email"
      /></label>
    </li>
    <li>
      <label class="login__label" for=""
        >Password: <input class="login__input input" type="password"
      /></label>
    </li>
    <li>
      <label class="login__label" for=""
        >Phone: <input class="login__input input" type="tel"
      /></label>
    </li>
    <li>
      <app-button class="login__btn" text="Register"></app-button>
      <app-button text="Login"></app-button>
    </li>
  </ul>
</main>
